<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Name</span>
  </div>
  <input type="text" class="form-control" placeholder="hero name" aria-label="name"[(ngModel)]='searchName' (keyup)='getHeros()' aria-describedby="basic-addon1">
</div>
<ngb-accordion [closeOthers]="true">
  <ngb-panel *ngFor='let hero of heros'>
    <ng-template ngbPanelTitle>
      <span class="panel"><b>{{hero.name | uppercase}}</b> </span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="row justify-content-md-center ">
        <div class="col ">
          <img src={{hero.image.path+hero.image.size+hero.image.extension}} class="img-fluid" alt="Responsive image">
        </div>
      </div>
      <div class="row">
        <div class="col margin-10">
          {{hero.description}}
        </div>
      </div>
      <div class="row">
        <div class="col margin-10">
          <a class="btn btn-outline-primary" [routerLink]="['/heros', hero.id]" [queryParams]="{ page: page }">See more....</a>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<ngb-pagination *ngIf="collectionSize" [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" (pageChange)='getHeros()' [boundaryLinks]="true"></ngb-pagination>